dbpath= /data/mongo/data

logpath=/data/mongo/mongo.log

logappend=true

fork=true

auth=false # 无身份认证方式

port=27017 # 默认端口

bind_ip_all=true # 任何ip都可以连接
#bind_ip = 127.0.0.1,192.168.0.3     # 本机和192.168.0.3可以访问
