[mysqld]
datadir = /data/mysql/data
socket = /data/mysql/mysql.sock
pid-file = /data/mysql/pid.pid
log_error = /data/mysql/error.log
port = 3306
user = mysql
performance_schema = off
bind_address = 0.0.0.0
skip-name-resolve = 0
character-set-server = utf8mb4
init_connect='SET NAMES utf8mb4'
lower_case_table_names = 1
max_connections = 1000
max_connect_errors = 1000
slow_query_log = 1
slow_query_log_file = slow.log
long_query_time = 1
min_examined_row_limit = 100
collation-server = utf8mb4_general_ci
innodb_buffer_pool_size=128M
[mysql]
socket = /data/mysql/mysql.sock
[client]
socket = /data/mysql/mysql.sock